extends ../layout

block content
  div(class='card text-md-center' style='width: 60%; float: none;')
    img(class='card-img-top' src=`${project.picture}` alt=`${project.title}`)
    div(class='card-body')
      h1=`${project.name}`
      h2=`${project.description}`
      p=`${project.state}`

  
  a(href="/projects" class="btn btn-primary") Go Back
  a(href=`/projects/${project._id}/edit` class="btn btn-primary") Edit Project
  a(href=`/projects/${project._id}/delete` class="btn btn-primary") Delete Project
